.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    background-color: transparent;
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: rgba(22, 24, 35);
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999px;
    margin-left: 12px;
    cursor: pointer;
}
